{% extends 'warranty/base.html' %}
{% load static %}

{% block title %}Warranty Dashboard{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Claims Pending Decision</div>
            <div class="card-body">
                {% for claim in pending_claims %}
                <p><strong>{{ claim.customer_name }}</strong><br>
                    <strong>Claim #:</strong> {{ claim.claim_number }}<br>
                    <strong>Warranty Type:</strong> {{ claim.warranty_type }}<br>
                    <strong>Date of Completed Inspection:</strong> {{ claim.inspection_date }}<br>
                    <a href="{% url 'warranty:claim_detail' claim.id %}">View Claim</a>
                </p>
                <hr>
                {% endfor %}
                <a href="{% url 'warranty:claims_list' %}" class="btn btn-dark w-100">View all</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

